<div class="project-index-grid pt8">

  <% @projects.each do |project| %>

  <div class="product border-light">

    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to project.naziv, project %></h3>

      <div class="control has-text-centered">
        <%= project.opis %>
      </div>

      <div class="control has-text-centered">
        <span class="tag is-small">
          Potrebno: <%= project.ukupno %>
        </span>
      </div>

      <div class="control has-text-centered">
          Sakupljeno: <%= project.do_sada  %>
      </div>

    </div>
  </div>

    <% end %>

</div>


